.links{
    display: inline flex;
    flex: 0.25;
    justify-content: center space-evenly;
    font-size: xx-large;
    a{
        margin-inline: 35px;
        margin-bottom: 5px;
        color: var(--secondary-color);
    }
}