.contactForm{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1em;
    font-family: "Open Sans", "Helvetica Neue";
    background-color: slategrey;
    max-width: 500px;
    border-radius: 2em; 
    text-align: right;
}
.text-submit {
    text-align: right;
    justify-content: right;
    
}
.title{
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    flex-direction: column;
    
}
.nameWrapper, .emailWrapper, .messageWrapper{
    color: whitesmoke;
    margin: 5px;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: left;
    margin-right: 4rem;

    label {
        margin-right: 0.75rem;
    }
    input {
        width: 14rem;
        height: 1.5rem;
    }
    textarea{
        border-radius: 1px;
        width: 14rem;
        height: 3rem;
        min-height: 2rem;
        min-width: 13rem;
        max-width: 16rem;
    }
}
button {
    margin-right: 4rem;
    text-align: center;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 32px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
    color: var(--grey-color);
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;

    &:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    &:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }
}