.top{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.page{
    width: fit-content;
    background-color: var(--primary-color);
    border-style: outset;
    border-width: 10px;
    border-color: var(--grey-color);
}
    
  